* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 25px;
}
.box{
    width: 70px;
    height: 70px;
    margin: 10px;
}
.box1{
    border: 2px solid red;
}
.box2{
    border: 2px solid blue;
}
.box3{
border: 2px solid green;
}